.contenedorTabla{
    display: grid;
    justify-content: center;
    align-content: center;
}
.di {
  width: 1300px;
  background-color: red;
}

.contenedorButton{
display: grid;
height: 100vh;
justify-content: center;
align-items: start;
}
