/* .contenedorButton{
display: grid;
height: 100vh;
justify-content: center;
align-items: start;
} */

.listaTareas{
    background-color: black;
}

h1{
    text-align: center;
}

button{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}